@model IEnumerable<FamilyGo.Models.Place>
@Scripts.Render("~/bundles/jquery")

@{
    /**/

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">

    #pagination a {
        background: #009688;
        text-align: center;
        font-family: Georgia;
        color: white;
        width: 100px;
        height: 20px;
        float: left;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 20px;
    }
</style>

<div class="container">
    <div class=" about-heading ">
        <h5>
            <a href="@Url.Action("Index","Home")">Home /</a>
            <a href="@Url.Action("Index","Activities")">Activities /</a>
            <a href="@Url.Action("Index","Places",new { i = ViewBag.activityName})">@ViewBag.activityName </a>
        </h5>
    </div>


    <div style="margin-top:5px; font-family:Georgia">
        <div class="col-md-4" style="padding-top:0.4em">
            <p style="color:black">CHANGE TO ANOTHER ACTIVITY:</p>
        </div>
        <div class="col-md-4" style="padding-top:0.2em">
            <input type="checkbox" name="age" value="6" />3-6 years old &nbsp;
            <input type="checkbox" name="age" value="7" />7-12 years old<br />
        </div>
        <div class="col-md-offset-8" style="padding-top:0.2em">
            Activities: <select id="Select1" onchange="search()" style="width:150px;"></select>
        </div>
    </div>


    <div class="mapanddata">
        <div id="map" style="height:425px; padding-top:3em">
        </div>
        <div style="padding-top:1em">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="name">header</h4>
                        </div>
                        <div class="modal-body">





















                            <div class=" w3-agileits">
                                <div class="container">
                                    <div class="col-md-12 about-wthreegrids" style="margin-left:25%">
                                        <img id ="image"/>
                                    </div>
                                    <div class="col-md-12 about-wthreegrids" style="margin:1em">
                                        <h3 class="w3ltitle">Information</h3>
                                        <div class="w3ls-pince">
                                            <div class="pince-left">
                                                <h5>01</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>RATING:</h4>
                                                <p id="rating">@ViewBag.rating</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>02</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>PHONE NUMBER:</h4>
                                                <p id="phone">@ViewBag.phoneNumber</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>03</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>WEBSITE:</h4>
                                                <p id="website">@ViewBag.website</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>04</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>OPEN: </h4>
                                                <p id="open">@ViewBag.openingNow</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>05</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>WEEKDAY: </h4>
                                                <p id="weekday">@ViewBag.weekday</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>06</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>ADDRESS: </h4>
                                                <p id="address">@ViewBag.address</p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-pince agileits-w3layouts">
                                            <div class="pince-left">
                                                <h5>07</h5>
                                            </div>
                                            <div class="pince-right">
                                                <h4>REVIEWS: </h4>
                                                <p id="review">
                                                    @if (ViewBag.review.ToString() != "No review avaliable.")
                                                    {
                                                        foreach (var item in ViewBag.review)
                                                        {
                                                            @item.author_name<br />
                                                            @item.relative_time_description<br />
                                                            @item.text<br />
                                                            <br />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        ViewBag.review.ToString();
                                                        <br />
                                                    }
                                                </p>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>

















                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <table style="display:none">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PlaceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facility)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Suburb)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="coordinates" style="display:none;">
                        <td class="id">
                            @Html.DisplayFor(modelItem => item.PlaceId)


                        </td>
                        <td class="name">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="description">
                            @Html.DisplayFor(modelItem => item.Facility)
                        </td>
                        <td class="latitude">
                            @Html.DisplayFor(modelItem => item.Lat)
                        </td>
                        <td class="longitude">
                            @Html.DisplayFor(modelItem => item.Lon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Suburb)
                        </td>
                        <td class="ActivityName">
                            @Html.DisplayFor(modelItem => item.Activity.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PlaceId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PlaceId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PlaceId })
                        </td>
                    </tr>



                }
            </table>
        </div>
    </div>


</div>




<script>
    var map;
    var locations = [];
    var InforObj = [];
    var dis = 0.05;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -37.835163, lng: 144.979678 },
            zoom: 12
        });
        navigator.geolocation.getCurrentPosition(c);
    }

    function c(pos) {
        var clat = parseFloat(pos.coords.latitude);
        var clon = parseFloat(pos.coords.longitude);
        $(".coordinates").each(function () {
            var id = $(".id", this).text().trim();
            var name = $(".name", this).text().trim();
            var longitude = $(".longitude", this).text().trim();
            var latitude = $(".latitude", this).text().trim();
            var description = $(".description", this).text().trim();
            var activityName = $(".ActivityName", this).text().trim();
            // Create a point data structure to hold the values.
            console.log(activityName);
            var point = {
                "id": id,
                "name": name,
                "latitude": parseFloat(latitude),
                "longitude": parseFloat(longitude),
                "description": description
            };
            if (activityName == "Dancing" || activityName == "Animal" || activityName == "Adventure and Theme Park" || activityName == "Others" || activityName == "Garden") { locations.push(point); }
            else {
                if (point.latitude < (clat + dis) && point.latitude > (clat - dis) && point.longitude < (clon + dis) && point.longitude > (clon - dis)) { locations.push(point); }
            }
            //locations.push(point);
            // Push them all into an array.
            //alert(locations);
        });

        var image = {
            url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(100, 50),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        var marker = new google.maps.Marker({
            position: { lat: clat, lng: clon },
            map: map,
            title: 'Your current location',
            icon: image
        });
        addMarkerInfo();
        map.setCenter({ lat: clat, lng: clon });
    }

    function addMarkerInfo() {
        for (var i = 0; i < locations.length; i++) {
            //var contentString = '<div id="content">' + '<h5 style="color:black;font-family:Georgia">' + locations[i].name + '</h4></br>'  +
            //'<a href = "Places/Details/?id=' + locations[i].id + '" style="color:blue"><u>More Details</u></a></div>';
            var contentString = '<div id="content">' + '<h5 style="color:black;font-family:Georgia">' + locations[i].name + '</h4></br>' +
                '<a href = "#myModal" style="color:blue" data-toggle="modal"><u>More Details</u></a></div>';
            const marker = new google.maps.Marker({
                id: locations[i].id,
                position: { lat: locations[i].latitude, lng: locations[i].longitude },
                map: map
            });

            const infowindow = new google.maps.InfoWindow({

                content: contentString,
                maxWidth: 200
            });
            marker.addListener('click', function () {
                var x;
                $.ajax({
                    url: "/Places/GetDetail",
                    type: "GET",//请求方式为get
                    dataType: "json", //返回数据格式为json
                    data: { id: marker.id },
                    async: false,//是否同步
                    success: function (data) {//请求成功完成后要执行的方法
                        x = data
                    },
                    error: function () {
                        console.log("error");
                    }
                })
                //console.log(x);
                document.getElementById("address").innerText = x.address;
                document.getElementById("rating").innerText = x.rating;
                document.getElementById("phone").innerText = x.phoneNumber;
                document.getElementById("website").innerText = x.website;
                document.getElementById("open").innerText = x.openingNow;
                document.getElementById("name").innerText = x.name;

                var weekdayStr = "";
                if (x.weekday != "No weekday information avaliable.") {
                    var json1 = JSON.parse(x.weekday);
                    for (var i = 0; i < json1.length; i++) {
                        //console.log(json1[i]);
                        weekdayStr = weekdayStr + json1[i] + "\n";
                    }
                }
                else {
                    weekdayStr = x.weekday + "\n";
                }

                document.getElementById("weekday").innerText = weekdayStr;
                document.getElementById("address").innerText = x.address;
                //document.getElementById("review").innerText = x.review;
                //console.log(x.review);
                var reviewStr = "";
                if (x.review != "No review avaliable.")
                {
                    var json = JSON.parse(x.review);
                    for (var i = 0; i < json.length; i++)
                    {
                        //console.log(json[i]);
                        reviewStr = reviewStr + json[i].author_name + "\n";
                        reviewStr = reviewStr + json[i].relative_time_description + "\n";
                        reviewStr = reviewStr + json[i].text + "\n\n";
                    }
                }
                else
                {
                    reviewStr = x.review + "\n";
                }
                //console.log(reviewStr);
                document.getElementById("review").innerText = reviewStr;
                document.getElementById("image").setAttribute("src", x.imUrl);;
                closeOtherInfo();
                infowindow.open(marker.get('map'), marker);
                InforObj[0] = infowindow;
            });
        }
        locations = [];
    }
    function closeOtherInfo() {
        if (InforObj.length > 0) {
            InforObj[0].set("marker", null);
            InforObj[0].close();
            InforObj.length = 0;
        }
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJeTABC7AwjSI-x7dm2cVlbHvA3yN65HA&callback=initMap" async defer></script>

<script>
    $(document).ready(function () {
        $('input[type=checkbox][name=age]').change(function () {
            if (this.value == '0') {
                test()
            }
            else if (this.value == '1') {
                test();
            }
            else {
                test();
            };
        });
    });


    var obj = document.getElementsByName("age");
    if ("@ViewBag.ageGroup" == "All") { obj[0].checked = true; obj[1].checked = true; test(); }
    if ("@ViewBag.ageGroup" == "3") { obj[0].checked = true; obj[1].checked = false; test(); }
    if ("@ViewBag.ageGroup" == "7") { obj[0].checked = false; obj[1].checked = true; test(); }
    var select = document.getElementById("Select1");
    var place = "@ViewBag.place";
    for (var i = 0; i < select.options.length; i++) {
        if (select.options[i].innerHTML == place) {
            select.options[i].selected = true;
            break;
        }
    } 

    function test() {
        var checked1 = false;
        var checked2 = false;
        var obj = document.getElementsByName("age");
            if (obj[0].checked) {
                checked1 = true;
        }
        if (obj[1].checked) {
            checked2 = true;
        }
        var childRet = document.getElementById("Select1");
        for (var i = childRet.childNodes.length - 1; i >= 0; i--) {
            childRet.removeChild(childRet.childNodes.item(i));
        }
        var activities = '@ViewBag.activities';
        var tmpRet = {
            "DATA1": { "Park": "Park", "Animal": "Animal", "Adventure and Theme Park": "Adventure and Theme Park","Others":"Others","Garden":"Garden","X":"X"},
            "DATA2": { "Games": "Games", "Park": "Park", "Animal": "Animal", "Adventure and Theme Park": "Adventure and Theme Park", "Others": "Others", "Garden": "Garden", "X": "X"},
            "DATA3": { "A.R.Football": "A.R.Football", "Badminton": "Badminton", "Baseball": "Baseball", "Basketball": "Basketball", "Cricket": "Cricket", "Cycling": "Cycling", "Dancing": "Dancing", "Netball": "Netball", "Skating": "Skating", "Soccer": "Soccer", "Swimming": "Swimming", "Table Tennis": "Table Tennis", "Tennis": "Tennis", "Park": "Park", "Animal": "Animal", "Adventure and Theme Park": "Adventure and Theme Park", "Others": "Others", "Garden": "Garden", "X": "X"}
        };
        var ret = document.createDocumentFragment();
        var tmpObj;
        if (checked1 && !checked2) { tmpObj = tmpRet["DATA2"] }
        else if (!checked1 && checked2) { tmpObj = tmpRet["DATA3"] }
        else if (!checked1 && !checked2) {tmpObj = {}; }
        else { tmpObj = tmpRet["DATA1"] }
        for (var key in tmpObj) {
            if (key != "X") {
                var newop = document.createElement("option");
                newop.id = key;
                newop.value = key;
                newop.appendChild(document.createTextNode(tmpObj[key]));
                ret.appendChild(newop);
            }
        }
        document.getElementById("Select1").add(new Option("-select activity-", 0));
        document.getElementById("Select1").appendChild(ret);
        document.getElementById("Select1").options[0].selected = true;
    }

    function search() {
        var id = document.getElementsByName('age');
        var age = "All";
        if (id[0].checked && id[1].checked) {
            age = "All";
        }
        if (id[0].checked && !id[1].checked) {
            age ="3";
        }
       if (!id[0].checked && id[1].checked) {
            age = "7";
        }


        if (document.getElementById("Select1").value == 'Games') { location.href = '/Games/Index'; }
        else if (document.getElementById("Select1").value == '') {
            alert("select an activities")
        }
        else {
            console.log(document.getElementById("Select1").value);
            location.href = '/Places?i=' + document.getElementById("Select1").value + "&age=" + age;
        }
    }
</script>

@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable(
                //{ "bInfo": false, "bPaginate": false }
                //{ "bPaginate": false}
                //{ "bInfo": false}
            );
        });
    </script>
}




